$sqSide: 20px;
$villain: rgb(164, 19, 28);

.square {
  width: $sqSide;
  height: $sqSide;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.messageBox {
  font-family: monospace;
  font-size: 16px;
  width: 70%;
  margin: 10px auto;
  border: 1px solid black;
}

.alert {
  color: lightgray;
  background-color: red;
  padding: 5px;
}

.inform {
  color: black;
  background-color: lightgray;
  padding: 5px;
}

.character {
  background-color: rgba(0, 0, 255, 0.8);
}

.wall {
  background-color: #000;
}

.floor {
  background-color: #fff;
}

.level1 {
  background-color: lighten($villain, 55%);
}

.level2 {
  background-color: lighten($villain, 40%);
}

.heart {
  background-image: url("../images/heart.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
