$sqSide: 30px;
$villain: #b22222;

body {
  width: 320px;
  height: 568px;
  margin: 0 auto;
  position: relative;
}
h1 {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  line-height: none;
  margin-bottom: 5px;
}
.board {
  margin: 10px auto;
  width: 270px;
}
.square {
  width: $sqSide;
  height: $sqSide;
  border: 1px solid black;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 270px;
  box-sizing: border-box;
}

.messageBox {
  font-family: monospace;
  font-size: 12px;
  width: 270px;
  box-sizing: border-box;
  margin: 5px auto;
  border: 1px solid black;
}

.hit {
  background-color: $villain;
  color: lightgray;
  padding: 5px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.alert {
  color: lightgray;
  background-color: lighten($villain, 25%);
  padding: 5px;
}

.inform {
  color: black;
  background-color: lightgray;
  padding: 5px;
}

.good {
  color: black;
  background-color: springgreen;
  padding: 5px;
}

.character {
  background-image: url("http://lukewalker.org/fcc/dungeon/images/hillary.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.theDonald {
  background-image: url("http://lukewalker.org/fcc/dungeon/images/donald.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.wall {
  background-color: darkslategray;
}

.floor {
  background-color: tan;
}

.level1, .level2, .level3, .level4 {
  background-image: url("http://lukewalker.org/fcc/dungeon/images/surrogate.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.level1 {
  background-color: lighten($villain, 55%);
}

.level2 {
  background-color: lighten($villain, 40%);
}
.level3 {
  background-color: lighten($villain, 25%);
}
.level4 {
  background-color: lighten($villain, 10%);
}
.level5 {
  background-image: url("http://lukewalker.org/fcc/dungeon/images/kellyanne.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.heart {
  background-image: url("http://lukewalker.org/fcc/dungeon/images/heart.png");
  background-color: gray;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.weapon {
  background-image: url("http://lukewalker.org/fcc/dungeon/images/greecross.png");
  background-color: gray;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.lose, .win, .intro {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  padding: 5px;
  z-index: 100;
  height: auto;
  margin: 10px auto;
  font-family: monospace;
  border: 2px solid black;
  text-align: center;
  h2 {
    font-size: 18px;
    margin: 5px auto;
  }
  p {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .small {
    display: block;
    margin-bottom: 10px;
    font-size: 10px;
  }
  button {
    width: 200px;
    height: 40px;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    background-color: dodgerblue;
    font-family: monospace;
    font-size: 18px;
    margin-bottom:  10px;
    &:hover {
      background-color: darken(dodgerblue, 30%);
    }
  }
}

.lose, .intro {
  background-color: lightgray;
}

.win {
  background-color: springgreen;
}

.legendBox {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

.legend1 {
  margin: 0 10px;
  h3 {
    font-family: monospace;
    font-size: 16px;
    text-align: left;
    margin: 5px auto;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin: 5px auto;
  }
  li {
    font-family: monospace;
  }
}

.legend2, .legend3 {
  margin: 0 10px;
  h3 {
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    margin: 5px auto;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin: 5px auto;
  }
  li {
    font-family: monospace;
  }
  div {
    display: inline-block;
    width: $sqSide;
    height: $sqSide;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
  }
  .hillary {
    background-image: url("http://lukewalker.org/fcc/dungeon/images/hillary.png");
  }
  .surrogate {
    background-image: url("http://lukewalker.org/fcc/dungeon/images/surrogate.png");
  }
  .kellyanne {
    background-image: url("http://lukewalker.org/fcc/dungeon/images/kellyanne.png");
  }
  .theDonald {
    background-image: url("http://lukewalker.org/fcc/dungeon/images/donald.png");
  }
  .heart {
    background-image: url("http://lukewalker.org/fcc/dungeon/images/heart.png");
  }
  .weapon {
    background-image: url("http://lukewalker.org/fcc/dungeon/images/greencross.png");
  }
}

.lights {
  font-family: monospace;
  font-size: 15px;
  border: 1px solid black;
  background-color: yellow;
  margin: 5px auto;
}

.dark {
  background-color: #000;
}

.lessdark {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

.small {
  width: 100%;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  margin: 10px auto;
}

.controls {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  display: block;
  position: absolute;
  bottom: 10px;
  margin-top: 5px;
  z-index: 5;
}

.arrow {
  box-sizing: border-box;
  border: 2px solid darkgray;
  width: 25%;
  height: 60px;
  margin: auto;
  font-size: 40px;
  font-weight: 700;
}
